
/**
 ** Default size: 215.9mm x 279.4mm
 **/

$canvas-width: 215.9mm / 1.2;
$canvas-height: 279.4mm / 1.2;

/* Handle Canvas */
.canvas {
	display:inline-block; 
	padding:2rem;
	padding-left:10rem;

	@media(max-width:768px) {
		padding-left: unset;
		padding:unset;

		min-width:95vw;
		width:95vw;
		max-width:95vw;

		min-height:80vh;
		height:80vh;
		max-height:80vh;
	}
}

#canvas-frame { 
	
	/* This is the preview frame of the canvas */
	
	margin:auto; 
	background:#eee; 
	border: 3px solid #dcdcdc !important;

	@media(min-width:769px) {
		min-width:$canvas-width;
		width:$canvas-width;
		max-width:$canvas-width;
		min-height:$canvas-height;
		height:$canvas-height;
		max-height:$canvas-height;
	}

	@media(max-width:768px) {
		width:100%;
		max-width:100%;
		height:100%;
		max-height:100%;

		margin-bottom:5rem;
	}

	padding:1.56rem;
	border-width:0.94rem;
}


#canvas-wrapper { 
	
	/* This is the beginning of the canvas */

	position:relative;
	padding:1.5625rem; 
	background:#000;
	height:100%;
}

#canvas-wrapper:after{ 

	/* This is the text for the #canvas-frame */

	position:absolute; 
	bottom:0px; 
	width:100%; 
	height:1.5625rem; 
	line-height:1.5625rem; 
	content:"50cm x 70cm"; 
	margin-left:-1.5625rem;
	margin-bottom:-1.5625rem; 
	color:#999; 
	font-size:0.75em; 
	text-align:center;
}

#canvas-border { 

	/* This is the surrounding border of the canvas */

	position:relative; 
	border-style:solid; 
	border-color:#fff;
	border-width:3px;
	padding:11mm;
	height:100%;
}

#canvas-map-wrapper { 

	/* This is the wrapper for the #celestial-map */

	min-height:75%;
	height:75%;
	max-height:75%;

	background:#000; 
	overflow:hidden;
}

#canvas-bottom {
	position:relative;
	min-height:25%;
	height:25%;
	max-height:25%;

	@media(max-width:768px) {
		top:-10%;
	}
}

#canvas-message-wrapper {
	position:relative;
	min-height:60%;
	height:60%;
	max-height:60%;
}

#canvas-message { 

	/* Handle the template custom message */

	text-transform:none; 
	overflow:hidden;
	width:100%;
	text-align:center;
	font-weight:600;
	color:#fff;

	/* Center in the middle of the box */
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

#canvas-txt { 
	font-size:16px; 
	font-weight:600; 
	text-transform:uppercase; 
	text-align:center; 
	line-height:1.5;
	color:#fff;

	min-height:40%;
	height:40%;
	max-height:40%;
}

#canvas-map {
	height:100%;
	max-height:100%;
}

#celestial-map { 

	/* This is the wrapper used by d3-celestial */

	position:relative; 
	overflow:hidden;
	height:100%;
	max-height:100%;
}

#celestial-map canvas { 

	/* Let's place the chart in the middle of the template */

	position:absolute; 
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#celestial-zoomin, #celestial-zoomout, #celestial-form { 

	/* Hide some pre-defined stuff */

	display:none !important;
}


/* Rectangle Frame */

#canvas-frame.rectangle #canvas-message-wrapper { 

	/* If the template is rectangular, lets hide the custom message box */

	display: none !important;
}

#canvas-frame.rectangle #canvas-txt {

	/* If the template is rectangular, lets add a small padding to the informational box */

	padding:0.5rem;
}

#canvas-frame.rectangle #canvas-border {

	/* If the template is rectangular, lets hide the frame borders */

	padding: 0px !important;
	border-width: 0px !important;
}

#canvas-frame.rectangle #canvas-map-wrapper {

	/* If the template is rectangular, let's add a border to the map (not the frame) */

	border: 3px white solid;

	/* Slightly expand the map wrapper size */

	min-height:90%;
	height:90%;
	max-height:90%;
}

#canvas-frame.rectangle #canvas-bottom {

	/* If the template is rectangular, slightly shrink the bottom part of the frame (with texts) */

	min-height:10%;
	height:10%;
	max-height:10%;
}

#canvas-frame.rectangle #canvas-map {

	/* If the template is rectangular, make the canvas bigger by 100% in order to achieve a rectangular look. */ 

	width:200%;
	margin-left:-50%;
}


/* Settings */

#canvas-border.noborder { 

	/* If the canvas has no borders setting enabled, then let's hide it */

	border-color:rgba(0,0,0,.0) !important; 
}

#canvas-frame.whitebg #canvas-border { 

	/* If the canvas has the white background option enabled, let's set border color to black */

	border-color:#000;
}

#canvas-frame.whitebg #canvas-wrapper {

	/* If the canvas has the white background option enabled, let's set it to white */

	background:#fff;
}
#canvas-frame.whitebg #canvas-map-wrapper {

	/* If the canvas has the white background option enabled, let's set it to white */

	background:#fff;
}
#canvas-frame.whitebg #canvas-txt { 

	/* If the canvas has the white background option enabled, let's set text color to black */

	color:#000;
}


/* Get Canvas ready for Print */

#canvas-frame.print #celestial-map { 

	margin-left:8px;
}

#canvas-frame.print #canvas-txt {

	position:relative;
	top: -1rem;
}

#canvas-frame img.heart {
 
 	/* If the canvas is in heart type, then let's add some styling */

	width:100%;
	height:auto;
	
	position:absolute;
	z-index:9998;
	display:none;
}